body {
    background-color: #000000;
}

.windows-logo {
    display: block;
    width: 300px;
    height: 300px;
    padding: 200px 100px 100px 200px;
    background: #FFFFFF;
}

.red-box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #F25022;
}

.green-box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #7FBA00;
}

.blue-box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #00A4EF;
}

.yellow-box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #FFB900;
}